/* html, body {
    height: 100%;
    overflow-x: hidden;
}

.home {
    height: 100%;
    background-image: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-row {
    padding: 0px !important;
}
.text-block {
    position: relative;
    bottom: 300px;
    width: 336px;
    height: 355px;
    z-index: 15;
    top: 110px;
    left: 783px;
    right: 50px;
    margin: -100px 0 0 -26px;
    background-color: #03382b;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
.text-block h2{
   margin-top: 145px;
}
.welcome-para{    
    font-size: small;
}
.btn {
    color: white;
    border-color: white;
} */
html, body {
    height: 100%;
    overflow-x: hidden;
}
.home {
    height: 100%;
    background-image: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text-block{
    position: absolute;
    top: 250px;
    left: 700px;
    width: 336px;
    height: 355px;
    background-color: #03382b;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}