html, body {
    height: 100%;
    overflow-x: hidden;
}
.home {
    height: 100%;
    background-image: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text-block{
    position: relative;
    top: 100px;
    left: 280px;
    width:400px;
    height: 355px;
    background-color: #03382b;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
.welcome-text{
    margin-top: 150px;
}
.btn{
    color: white;
    border: 1px solid;
}
.service{
    background-color: white;
}
.service {
    height:60%;
    
    
}
.card{
    margin-top: 100px;
    position: absolute;
    left: 140px;
    border: none;
}