body{
    overflow-x: hidden;
    height:100%;
} 
* {
    box-sizing: border-box;
  }
#navbar {
    overflow: hidden;
    font-family:monospace;
    font-size: 15px;
    border-bottom: 3px solid transparent;    
    background-color:white;
}
#navbar a{
    text-decoration: none;
    color: black;
}
#navbar a:hover {
    background-color: #ddd;
    color: black;
}
#navbar a.active {
    float: right;
    padding: 10px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .home {
    padding-top: 60px;
}
.home {
    padding: 16px;
}
.pro{
    margin-top: 60px;
    padding: 20px;
    font-family:sans-serif;
    font-size: x-large;
} 
.column {
    margin-top: 10px;
    float: left;
    width: 25%;
    padding: 5px;
}  
 
.row::after {
    content: "";
    clear: both;
    display: table;
}
.about{
    margin-top: 60px;
    padding: 20px;
    font-family:sans-serif;
    font-size: x-large;
}
.about-us{
    /* margin-top: 5px; */
    font-family:sans-serif;
    padding: 20px;
}
.btn{
    width: 100%;
    height:35px;
    border-color: blue;
    background-color: white;
    color: black;
}
.btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;   
    border-color: white;
}
.contact h3{
    margin-top: 20px;
    /* padding: 20px; */
    font-family:sans-serif;
    font-size: x-large;
}
.contact h7{
    margin: 0;
    /* padding: 20px; */
}
.contact input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    border-radius: 2px solid;
    border-color: blue;
    
  
}
.contact button{
    margin-top: 10px;
    width: 15%;
    height: 40px;
    background-color: black;
    color: white;
}
.message:hover{
    background-color: rgb(139, 133, 133);
    cursor: pointer;
}    
.contact img{
    margin-top: 30px;
    width: 100%;
    height: 500px;
}
.footer {   
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
}

.footer-text{
    position: absolute;
    left: 530px;
    /* top: 100px; */
}